.titleAction{
    width: 100%;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    display: flex;
}

.textAction{
    margin-left: 6%;
    margin-top: 0px;
    text-align: start;
    padding: 4px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
}
.MuiStepLabel-label.MuiStepLabel-completed{
    color: red;
}
