.Textcontainer{
    display: flex;
    flex-direction: column;
}
.Textcontent{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.title{
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
}
.text{
    font-family: Poppins;
    font-size: 15px;
    text-align: center;
    margin: 0;
    width: 50%;
}
.user{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    align-self: center;
    width: 75%;
    margin-top: 2%;
}
.user_text{
    color: #eb062a;
    display: flex;
    align-self: flex-start;
}
.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.check1 {
    border-left-width: 1px;
    border-left-color: black;
}
.border{
    border-left: 1px solid rgba(0, 0, 0, 0.16) ;
    height: 25px;
}
.action_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
.action_type{
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.action_type_active{
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #eb062a;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.text_bold{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.text_bold_active{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #eb062a;
}
.text_normal{
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    width: 75%;
    text-align: center;
}
.btn{
    width: 30%;
    display: flex;
    align-self: center;
    margin-top: 30px;
}

// .MuiFormControlLabel-label{
//     color: #eb062a;
// }