.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.formC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.LogContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formContent{
    display: flex;
    align-self: center;
    width: 79%;
    align-items: center;
    justify-content: center;
}